* {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  body {
    margin: 0;
    
  }
  

  div{

    text-align: center;
    margin-top: 20px;
    background-color:cornsilk ;
  }